
body {
 background-image: url(../../images/walker\ bkgr.png);
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.player {
  
  position: absolute;
}
#board {
  width: 500px;
  height: 500px;
  border: 5px double rgb(0, 0, 0);
  background-color: rgb(79, 110, 222);
  position: relative;
  margin: 80px auto 0 auto;
}

#player1 {
   background-image: url(../../images/alien-walker.png);
   width: 51px;
   height: 100px;
 
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#player2 {
  background-color: rgb(32, 108, 189);
 
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

