
body {
  background-color: darkgreen;
}

#board {
  width: 650px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color: rgb(94, 27, 139);
  width: 50px;
  height: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
