body {
  background-color: rgb(121, 80, 159);
}

h2{
  left: 50px;
  top: 300px
}


#die {
  height: 115px;
  width: 115px;
  background-color: rgb(0, 0, 0); /* Feel free to customize */
  position: absolute;
  top: 100px;
  left: 100px
}

#die2 {
  height: 115px;
  width: 115px;
  background-color: rgb(180, 36, 36); /* Feel free to customize */
  position: absolute;
  top: 100px;
  left: 250px
}

