
body {
  background-color: rgb(47, 28, 188);
}

#board {
  width: 500px;
  height: 500px;
  border: 1px solid white;
  position: relative;
  box-sizing: border-box;
  background-image: url("../../images/snake\ bkgr.jpg")  
}

#score, #highScore {
  color: rgb(11, 11, 11);
}

#game-over {
  z-index: 500;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(93, 27, 179);
  z-index: 2;
}

#snake-head {
  background-color: rgb(93, 27, 179);
}

.apple {
  background-image: url("../snake/images/appleSnake2.png");
  position: absolute;
  z-index: 1;
}